<div class="padding">
  <div class="container">
    <div class="row">
      <ng-template *ngFor="let message of messages">
        <div class="col-12">
          <div class="card sent">
            <div class="card-body">This is some text within a card body.</div>
          </div>
        </div>
      </ng-template>
      <!-- <div class="col-12">
        <div class="card received">
          <div class="card-body">This is some text within a card body.</div>
        </div>
      </div> -->
    </div>
    <form [formGroup]="chatForm" class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="message" />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">ENVIAR</button>
      </div>
    </form>
  </div>
</div>
