<div class="padding">
  <div class="container">
    <div>
      <div class="row align-items-center">
        <form
          [formGroup]="createRoomForm"
          class="col-12"
          (ngSubmit)="createRoom()"
        >
          <div class="row no-gutters">
            <div class="col">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-auto">
              <button
                [disabled]="!createRoomForm.valid"
                class="btn btn-primary"
              >
                CRIAR SALA
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="row align-items-center">
        <form
          [formGroup]="enterRoomForm"
          class="col-12"
          (ngSubmit)="enterRoom()"
        >
          <div class="row no-gutters">
            <div class="col">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-auto">
              <button [disabled]="!enterRoomForm.valid" class="btn btn-primary">
                ENTRAR NA SALA
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <div class="row messages" id="messages">
        <div class="col-12" *ngFor="let message of messages">
          <div
            class="card"
            [ngClass]="message.client == clientId ? 'sent' : 'received'"
          >
            <div class="card-body">{{ message.message }}</div>
          </div>
        </div>
      </div>
      <form [formGroup]="chatForm" class="row" (ngSubmit)="sendMessage()">
        <div class="col">
          <input type="text" class="form-control" formControlName="message" />
        </div>
        <div class="col-auto">
          <button [disabled]="!chatForm.valid" class="btn btn-primary">
            ENVIAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
